body{
    background-image: url('https://i1.wp.com/azmind.com/demo/bootstrap-registration-forms/form-2/assets/img/backgrounds/2.jpg');
    background-size: cover;
}

.form-bg{
    background-color: rgba(242, 243, 247, 0.662);
}